body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.videoElem {
    border: 1px Solid #000;
}

.buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}

.btn__pause {
    width: 110px;
    
}

.btn {
    height: 40px;
    border: none;
    transition: 0.3s all;
    background-color: Transparent;
    border: 2px Solid rgb(65, 105, 255);
    border-radius: 5px;  
    font-size: 18px;
    font-weight: 500;
}

.btn:hover {
    background-color: rgb(65, 105, 255);
    color: #fff;
}

.btn__resume {
    width: 110px;
    margin-left: 15px;
}

.btn__event-metric {
    width: 120px;
    margin-left: 15px;
}

.btn__error-types {
    width: 120px;
    margin-left: 15px;
}

.btn__error-details {
    width: 120px;
    margin-left: 15px;
}

.event {
    display: none;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
}

.errorTypes {
    display: none;
    align-items: center;
    flex-direction: column;
}

.errorDetails {
    display: none;
    align-items: center;
    flex-direction: column;
}